*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging/
cdk.out/

# Ignore build folder
.aws-sam/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IntelliJ
.idea/
out/

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk